<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PostApiSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b786">  <td>24/03/03 16:09:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case3.executor()[pri:0, instance:Test_cases.Test_Case3@2b30a42c]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
<tr bgcolor="6da9a5">  <td>24/03/03 16:09:48</td>   <td>-492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case2.executor()[pri:0, instance:Test_cases.Test_Case2@17fc391b]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
<tr bgcolor="faa6af">  <td>24/03/03 16:09:49</td>   <td>466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case4.executor()[pri:0, instance:Test_cases.Test_Case4@609e8838]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/03 16:09:45</td>   <td>-3626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case1.executor()[pri:0, instance:Test_cases.Test_Case1@496bc455]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
</table>
