<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abcebf">  <td>24/03/07 20:22:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured_Class.testSetUp()[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@7ae0a9ec]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1571798597</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/07 20:22:08</td>   <td>2477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@7ae0a9ec]">validator</td> 
  <td>main@1571798597</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/07 20:22:09</td>   <td>2994</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured_Class.evidenceCreator()[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@7ae0a9ec]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1571798597</td>   <td></td> </tr>
<tr bgcolor="abcebf">  <td>24/03/07 20:22:08</td>   <td>2477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@7ae0a9ec]">validator</td> 
  <td>main@1571798597</td>   <td></td> </tr>
</table>
