<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelRunnerSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abcebf">  <td>24/03/04 19:10:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case1.executor()[pri:0, instance:Test_cases.Test_Case1@24569dba]">executor</td> 
  <td>TestNG-tests-1@530486389</td>   <td></td> </tr>
<tr bgcolor="7da57d">  <td>24/03/04 19:10:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case2.executor()[pri:0, instance:Test_cases.Test_Case2@194fad1]">executor</td> 
  <td>TestNG-tests-2@1188401255</td>   <td></td> </tr>
<tr bgcolor="8c8e7b">  <td>24/03/04 19:10:31</td>   <td>3038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case3.executor()[pri:0, instance:Test_cases.Test_Case3@65f8f5ae]">executor</td> 
  <td>TestNG-tests-2@1188401255</td>   <td></td> </tr>
<tr bgcolor="6da477">  <td>24/03/04 19:10:31</td>   <td>3038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case4.executor()[pri:0, instance:Test_cases.Test_Case4@5c7933ad]">executor</td> 
  <td>TestNG-tests-1@530486389</td>   <td></td> </tr>
</table>
