<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6282c1">  <td>24/03/07 22:42:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAssured_Example.validator()[pri:0, instance:Test_cases.TestNG_Annotation_RestAssured_Example@25be7b63]">validator</td> 
  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>24/03/07 22:42:14</td>   <td>2640</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAssured_Example.evidenceCreater()[pri:0, instance:Test_cases.TestNG_Annotation_RestAssured_Example@25be7b63]">&lt;&lt;evidenceCreater</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="6282c1">  <td>24/03/07 22:42:11</td>   <td>-607</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAssured_Example.testSetUp()[pri:0, instance:Test_cases.TestNG_Annotation_RestAssured_Example@25be7b63]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="ecda92">  <td>24/03/07 22:42:16</td>   <td>4656</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured_Class.evidenceCreator()[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@5a5a729f]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="8883a3">  <td>24/03/07 22:42:15</td>   <td>3394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_SameClass_RestAssured_Class@97e93f1]">validator</td> 
  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="ecda92">  <td>24/03/07 22:42:16</td>   <td>4241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@5a5a729f]">validator</td> 
  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="ecda92">  <td>24/03/07 22:42:16</td>   <td>4241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@5a5a729f]">validator</td> 
  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="8883a3">  <td>24/03/07 22:42:15</td>   <td>3394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured_Class.validator(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.TestNG_DataProvider_SameClass_RestAssured_Class@97e93f1]">validator</td> 
  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="8883a3">  <td>24/03/07 22:42:15</td>   <td>2936</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured_Class.testSetUp()[pri:0, instance:Test_cases.TestNG_DataProvider_SameClass_RestAssured_Class@97e93f1]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="ecda92">  <td>24/03/07 22:42:15</td>   <td>2935</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured_Class.testSetUp()[pri:0, instance:Test_cases.TestNG_DataProvider_DifferentClass_RestAssured_Class@5a5a729f]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
<tr bgcolor="8883a3">  <td>24/03/07 22:42:16</td>   <td>4657</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured_Class.evidenceCreator()[pri:0, instance:Test_cases.TestNG_DataProvider_SameClass_RestAssured_Class@97e93f1]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@765826899</td>   <td></td> </tr>
</table>
