<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DataDrivenXMLSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce7389">  <td>24/03/06 20:50:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_Driven_TestNGXML_Test_Case2.executor(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.Data_Driven_TestNGXML_Test_Case2@6d60fe40]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/03/06 20:50:25</td>   <td>-2867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_Driven_TestNGXML_Test_Case1.executor(java.lang.String,java.lang.String)[pri:0, instance:Test_cases.Data_Driven_TestNGXML_Test_Case1@247310d0]">executor</td> 
  <td>main@1042306518</td>   <td></td> </tr>
</table>
